@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:"Montserrat","Poppins";
    background: url('../Background_Image/Background.gif') no-repeat center center / cover;
    min-height: 300vh;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}
.navbar{
    display: flex;
    align-items:center;
    justify-content: center;
    height:80px;
    width:100%;
    position:sticky;
    top:0;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.5);
    backdrop-filter: blur(20px);
    z-index: 999;
}
.navbar-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding:0 2rem;
    max-width:1600px;
}
.navbar-logo{
    font-size:2rem;
    font-weight: 600;
    color:#fff;
    text-decoration: none;
    cursor: pointer;
}
.navbar-container .navbar-menu{
    display:flex;
    text-align: center;
    gap: 2rem;
    list-style: none;
}
.navbar-container .navbar-menu li a{
    text-decoration: none;
    color:#fff;
    font-size: 1.3rem;
    font-weight:500;
    padding:3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.4s ease;
    white-space:nowrap;
}
.navbar-container .navbar-menu li a:hover, .navbar-container .navbar-menu li a.active{
    color:rgba(8, 9, 9, 0.436);
    background: transparent;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.5);
    border: 2px solid white;
    
}

.navbar-toggle{
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor:pointer;
}

.bar{
    display:block;
    width:25px;
    height: 3px;
    margin:5px auto;
    background: white;
    transition: all 0.3s ease-in-out;
}

/* Responsive Style */
@media(max-width:480px){
    .navbar-container{
        padding:0 1rem;
    }

    .navbar-logo{
        font-size: 1.7rem;  
    }
    .navbar-container .navbar-menu li a{
        font-size:1.2rem;
        padding: 3px 15px;
    }
    .navbar-container .navbar-menu{
        background: transparent;
        box-shadow: 0 10px 10px rgba(0,0,0,0.5);
        backdrop-filter:blur(20px);
    }

}
@media (max-width:880px){
    .navbar{
        backdrop-filter: none;
        background-color: rgba(0, 135, 153, 0.554);
        box-shadow: 0 10px 10px rgba(18, 18, 18, 0.5);

    }
    .navbar-container .navbar-menu{
        display: none;
        flex-direction:column;
        align-items:flex;
        gap:1.7rem !important;
        position:absolute;
        height:100vh;
        width: 250px;
        top:0;
        right:0;
        padding:5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0,0,0,0.5);
        backdrop-filter:blur(30px);
    }
    .navbar-container .navbar-menu.active{
        display:flex;
    }


    .navbar-toggle{
        display: block;
        z-index: 999;
    }


    .navbar-toggle.active .bar:nth-child(2){
        opacity: 0;
    }
    .navbar-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .navbar-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section */
.home{
    padding-left: 50px;
    padding-top: 50px;
}
@keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
  }
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .home h1 {
    animation: slideIn 1s ease-out;
  }
  .home h2{
    animation: slideIn 2.5s;
    animation: fadeIn 1s;
  }
  
.home h1{
    color:white;
    font-size: 100px;
}
.home h2{
    color: white;
    font-size:75px;
}
.home{
    height: 100vh;
}
.about {
    height: 100vh;
    padding-top: 10px;
}
.skills {
    height: 100vh;
    padding-top: 10px;
}


html {
    scroll-behavior: smooth;
}
.info{
    font-size: 35px;
    color:white;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.5);
    backdrop-filter: blur(10px);
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    display: inline;
}
.skills-info ol li{
    font-size: 35px;
    color:white;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.5);
    backdrop-filter: blur(5px);
    text-align: left;
    border-radius: 15px;
    display: inline-flex;
    padding-bottom: 5px;
}




.scroll-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .scroll-container p {
    padding-top: 20px;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .arrow {
    width: 20px;
    height: 20px;
    border: solid #333;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin: 0 auto;
    animation: bounce 1.5s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0) rotate(45deg);
    }
    40% {
      transform: translateY(10px) rotate(45deg);
    }
    60% {
      transform: translateY(5px) rotate(45deg);
    }
  }
  
  body {
    overflow:auto; /* Allows scrolling */
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  }
  
  body::-webkit-scrollbar {
    display: none; /* Hides scrollbar */
  }
  .scroll-container {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
  color: #333;
  animation: parallaxScroll 2s infinite;
}

@keyframes parallaxScroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media(max-width:480px){
    .home h1 h2{
        font-size: 70%;
    }
    .info{
        font-size: 70%;
    }
    .skills-info ol li{
        font-size: 70%;
    } 
}
@media(max-width:800px){
    .home h2{
        font-size: 80%;
    }
    .info{
        font-size: 80%;
    }
    .skills-info ol li{
        font-size: 80%;
    } 
}




